@@include('template/layout/header.html')

	<main class="content">
		<section class="process">
			<div class="container">
				<div class="process__invest">The Investing Process</div>
				<div class="process__title">How we <span>do it</span></div>
				
				<div class="process__list">
					<div class="process__list-item">
						<div class="process__list-circle process__list-red ">1</div>
						<div class="process__list-text">
							<div class="process__list-title">Present to us</div>
							<p class="process__list-p">Send us your proposal digitally, we’ll review it as quickly as we can!</p>
						</div>
					</div>
					<div class="process__list-item">
						<div class="process__list-circle process__list-lilac">2</div>
						<div class="process__list-text">
							<div class="process__list-title process__list-title2">We talk</div>
							<p class="process__list-p">If it’s of interest, we’ll contact you to find out further information.</p>
						</div>
					</div>
					<div class="process__list-item">
						<div class="process__list-circle process__list-red">3</div>
						<div class="process__list-text">
							<div class="process__list-title">Offer stage</div>
							<p class="process__list-p">Once we feel we have what we need, if we like what we see, we’ll make you a non-binding offer.</p>
						</div>
					</div>
					<div class="process__list-item">
						<div class="process__list-circle process__list-lilac">4</div>
						<div class="process__list-text">
							<div class="process__list-title process__list-title2">Due diligence</div>
							<p class="process__list-p">This is where we analyse under a microscope, checking the facts, figures and legalities of everything proposed.</p>
						</div>
					</div>
					<div class="process__list-item">
						<div class="process__list-circle process__list-red">5</div>
						<div class="process__list-text">
							<div class="process__list-title">Closing</div>
							<p class="process__list-p">We agree on a set of closing documents; we sign on the dotted line, and we move forward!
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</section>


	</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 